.navbar {
  padding-left: 70px;
  padding-right: 70px;
}

.title {
  display: block;
  background-color: #d35266;
}

.title_header {
  padding-top: 50px;
  margin-bottom: 5px;
}

.title_p {
  color: #edf4f5;
  margin-bottom: 25px;
}

.input_div {
  margin: 5px -3px 30px;
}

.button_div {
  margin: 5px -3px 30px 5px;
}

.mt {
  width: 80%;

  /* margin-left: 20px; */
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
